# Directorios de dependencias y compilación
/node_modules/
/dist/

# Archivos de configuración local y credenciales (OBLIGATORIO)
.env
.env.production
*.pem

# Archivos subidos por los usuarios en el Sprint 1 (Imágenes de perfil)
/uploads/*
!/uploads/.gitkeep

# Logs y diagnóstico
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/logs
*.log

# Configuraciones de IDEs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?